<%= form_with(model: piadine) do |form| %>
  <% if piadine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piadine.errors.count, "error") %> prohibited this piadine from being saved:</h2>

      <ul>
        <% piadine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="mb-3">
    <%= form.label :nome, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

 <div class="mb-3">
    <%= form.label :impasto, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

 <div class="mb-3">
    <%= form.label :farcitura, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

 <div class="mb-3">
    <%= form.label :quantita, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :indirizzo, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>


<% end %>
