<p id="notice"><%= notice %></p>

<h1>Piadines</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Impasto</th>
      <th>Farcitura</th>
      <th>Quantità</th>
      <th>Indirizzo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piadines.each do |piadine| %>
      <tr>
        <td><%= piadine.Nome %></td>
        <td><%= piadine.impasto %></td>
        <td><%= piadine.farcitura %></td>
        <td><%= piadine.quantità %></td>
        <td><%= piadine.indirizzo %></td>
        <td><%= link_to 'Show', piadine %></td>
        <td><%= link_to 'Edit', edit_piadine_path(piadine) %></td>
        <td><%= link_to 'Destroy', piadine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piadine', new_piadine_path %>
